export PROJECT_ID=syns-platform-dev

# This does not need to be set on local dev, but must be
# set on deployed environment
# export MODE=production

# Connection information for Citadel2 Notification.
export NOTIFY_HOST=0.0.0.0
export NOTIFY_PORT=9090

# Connection information for ShapeDB. 
export SHAPEDB_HOST=localhost
export SHAPEDB_PORT=8976

export SYNS_CITADEL_SERVER_IDENTITY_TOKEN="v2.local.8pNeRqzrnjbz1_pmWi6D0q8X9RKzyrKe0jP-hf6ngbt-UWMUnyztRVSfDxs3lq8RucFdl3pW-aWgSYAEuQX9jNyQp5ZYRzVfOUPcubxXecRRSyIJkEtYdgLOX__RKTPgcjeP07DFzKXc2uvrtNK6IbA.bnVsbA"
